<!DOCTYPE html>
<html>
<head>
<meta th:replace="~{fragments :: head}">
<title>Hotel - Velsis</title>
<style type="text/css">

li {
	padding-right: 30px;
}

</style>
</head>
<body class="container">
	<div
		class="d-flex flex-column justify-content-center align-items-center text-center">
		
		
		<div th:replace="~{fragments :: cadastros-section}"></div>

		<section class="card mt-4 border-primary mt-4 border-primary col-sm-5 offset-sm-2 col-md-6 offset-md-0">
			<header
				class="card-header h5 text-start alert alert-primary p-2 px-3 m-0">Consultas hos</header>
			<div class="card-body">
				
				<nav class="navbar navbar-expand-lg bg-light">
				  <div class="container-fluid">
				    <div class="collapse navbar-collapse" id="navbarNav">
				      <ul class="navbar-nav">
				        <li class="nav-item">
				            <a class="nav-link btn" th:classappend="${status} == null ? 'btn-info'" href="/home">Todos</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link btn" th:classappend="${status} == 'active' ? 'btn-info'" href="/home/active">Hospedados</a>
				        </li>
				        <li class="nav-item">
				            <a class="nav-link btn" th:classappend="${status} == 'no_active' ? 'btn-info'" href="/home/no_active">Não Hospedados</a>
<!-- 						<a class="nav-link" th:classappend="${status} == 'entregue' ? 'active'" href="/home/entregue">Entregue</a> -->

				        </li>
				      </ul>
				    </div>
				  </div>
				</nav>	
				
				
				
				

				<table class="table mt-2">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Total Gasto</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tph : ${totalPorHospedes}">
							<th scope="row" th:text="${tph.hospede.id}"></th>
							<td th:text="${tph.hospede.nome}"></td>
							<td th:text="${#numbers.formatDecimal(tph.total, 1, 2)} ?: '0,00'"></td>
							<td class="p-0">
								<ul class="list-group list-group-horizontal">
									<li class="list-group-item pe-1 m-0 border-white">
										<a href="#" class="material-symbols-outlined">
										edit
										</a>
									</li>
									<li class="list-group-item pe-1 m-0 border-white"
									th:if="${tph.ultimoCheckin.dataSaida == null && tph.ultimoCheckin.dataEntrada != null}">
										<a href="#" class="material-symbols-outlined">
										check_circle
										</a>
									</li>
									<li class="list-group-item pe-1 m-0 border-white"
									th:if="${!(tph.ultimoCheckin.dataSaida == null && tph.ultimoCheckin.dataEntrada != null)}">
										<a href="#" class="material-symbols-outlined">
										H
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</section>

	</div>
</body>
</html>
